{% set tabs = [
    {
        title: 'Dogs',
        id: 'tabs1',
        pane:{
            image:'../img/dog-cat.png',
            pros:[
                {
                    title:'50%',
                    subtitle:'meat'
                },
                {
                    title:'17%',
                    subtitle:'bones'
                },
                {
                    title:'13%',
                    subtitle:'kidneys'
                },
                {
                    title:'4%',
                    subtitle:'liver'
                },
                {
                    title:'16%',
                    subtitle:'vegetables'
                },
                {
                    title:'',
                    subtitle:''
                },
            ],
            boxes: [
                {
                    text:'Biologically Appropriate Raw Food',
                },
                {
                    text:'AAFCO Standards',
                },
                {
                    text:'Produced in Accordance with FDA Guidanct',
                },
                {
                    text:'Formulated by Vets and Nutritionists',
                },
            ]
        }
    },
    {
        title: 'Cats',
        id: 'tabs2',
   pane:{
            image:'../img/dog-cat.png',
            pros:[
                {
                    title:'35%',
                    subtitle:'meat'
                },
                {
                    title:'3%',
                    subtitle:'bones'
                },
                {
                    title:'2%',
                    subtitle:'kidneys'
                },
                {
                    title:'10%',
                    subtitle:'liver'
                },
                {
                    title:'44%',
                    subtitle:'vegetables'
                },
            ],
            boxes: [
                {
                    text:'Biologically Appropriate Raw Food',
                },
                {
                    text:'AAFCO Standards',
                },
            ]
        }
    },
] %}

<div class="l-container">
    <section class="c-honest flex xl-max:flex-col gap-5" data-tabs-parent>
        <div class="xl:max-w-[320px] w-full flex-col flex">
            <h4 class='c-title c-title--h4 mb-5 lg:mb-8'>Honest Ingredient List</h4>
            {% include "../../_components/tabs.twig" with { links: tabs, class: 'c-honest__tabs mb-5 xl:mb-18 xl-max:order-3' } %}
            <a href='/' class="f-btn f-btn--primary-ghost w-fit mt-auto xl-max:mb-9">Learn More</a>
        </div>
        <div class="w-full">
            {% for item in tabs %}
                <div class="c-tabs__pane fade h-full {{ loop.first ? 'is-shown' }}" id="{{ item.id }}" data-tabs-pane>
                    <div class="h-full flex justify-end lg-max:flex-col gap-5">
                        <div class="c-honest__box rounded-image c-gradient" style='background-image: url({{ item.pane.image }})'>
                            <div class="c-honest__box__wrap gap-1">
                                {% for item in item.pane.pros %}
                                    <div class='c-honest__box__unit {{  item.title ? ' ': ' c-honest__box__unit--empty'  }}'>
                                        <h5 class='c-honest__box__title'>
                                            {{ item.title }}
                                        </h5>
                                        <span class='c-honest__box__subtitle'>{{ item.subtitle }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="lg:w-1/2 xl:w-full xl:max-w-[410px] max-h-[410px] grid grid-cols-2 gap-5">
                            {% for item in item.pane.boxes %}
                                {% include "../items/box.twig" with {text: item.text} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
